<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png">
    <link rel = "stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Anuj Jain. Its uses the location data from mapbox servers and weather data from openweathermap.org severs. Below is the picture of the person who created this website.</p>
        <img class="potrait" src="/img/profile_pic.png">
    </div>

    {{>footer}}
</body>

</html>